{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "STORAGE_CONNECTION_STRING": "UseDevelopmentStorage=true",
    "STORAGE_ACCOUNT_NAME": "devstoreaccount1",
    "BOARDS_CONTAINER": "boards",
    "MEDIA_CONTAINER": "media",
    "SNAPSHOTS_CONTAINER": "snapshots"
  }
}
